---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1581122319'
      Etag:
      - W/"fedad38ad0b910fc6ab2fa6e8060fc59"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":216052064,"node_id":"MDEwOlJlcG9zaXRvcnkyMTYwNTIwNjQ=","name":"csv_example","full_name":"DanielEFrampton/csv_example","private":false,"owner":{"login":"DanielEFrampton","id":40702808,"node_id":"MDQ6VXNlcjQwNzAyODA4","avatar_url":"https://avatars1.githubusercontent.com/u/40702808?v=4","gravatar_id":"","url":"https://api.github.com/users/DanielEFrampton","html_url":"https://github.com/DanielEFrampton","followers_url":"https://api.github.com/users/DanielEFrampton/followers","following_url":"https://api.github.com/users/DanielEFrampton/following{/other_user}","gists_url":"https://api.github.com/users/DanielEFrampton/gists{/gist_id}","starred_url":"https://api.github.com/users/DanielEFrampton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DanielEFrampton/subscriptions","organizations_url":"https://api.github.com/users/DanielEFrampton/orgs","repos_url":"https://api.github.com/users/DanielEFrampton/repos","events_url":"https://api.github.com/users/DanielEFrampton/events{/privacy}","received_events_url":"https://api.github.com/users/DanielEFrampton/received_events","type":"User","site_admin":false},"html_url":"https://github.com/DanielEFrampton/csv_example","description":"This
        is part of a Backend Mod 1 exploration lesson on learning how to use the CSV
        class to read files and make objects.","fork":true,"url":"https://api.github.com/repos/DanielEFrampton/csv_example","forks_url":"https://api.github.com/repos/DanielEFrampton/csv_example/forks","keys_url":"https://api.github.com/repos/DanielEFrampton/csv_example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/DanielEFrampton/csv_example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/DanielEFrampton/csv_example/teams","hooks_url":"https://api.github.com/repos/DanielEFrampton/csv_example/hooks","issue_events_url":"https://api.github.com/repos/DanielEFrampton/csv_example/issues/events{/number}","events_url":"https://api.github.com/repos/DanielEFrampton/csv_example/events","assignees_url":"https://api.github.com/repos/DanielEFrampton/csv_example/assignees{/user}","branches_url":"https://api.github.com/repos/DanielEFrampton/csv_example/branches{/branch}","tags_url":"https://api.github.com/repos/DanielEFrampton/csv_example/tags","blobs_url":"https://api.github.com/repos/DanielEFrampton/csv_example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/DanielEFrampton/csv_example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/DanielEFrampton/csv_example/git/refs{/sha}","trees_url":"https://api.github.com/repos/DanielEFrampton/csv_example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/DanielEFrampton/csv_example/statuses/{sha}","languages_url":"https://api.github.com/repos/DanielEFrampton/csv_example/languages","stargazers_url":"https://api.github.com/repos/DanielEFrampton/csv_example/stargazers","contributors_url":"https://api.github.com/repos/DanielEFrampton/csv_example/contributors","subscribers_url":"https://api.github.com/repos/DanielEFrampton/csv_example/subscribers","subscription_url":"https://api.github.com/repos/DanielEFrampton/csv_example/subscription","commits_url":"https://api.github.com/repos/DanielEFrampton/csv_example/commits{/sha}","git_commits_url":"https://api.github.com/repos/DanielEFrampton/csv_example/git/commits{/sha}","comments_url":"https://api.github.com/repos/DanielEFrampton/csv_example/comments{/number}","issue_comment_url":"https://api.github.com/repos/DanielEFrampton/csv_example/issues/comments{/number}","contents_url":"https://api.github.com/repos/DanielEFrampton/csv_example/contents/{+path}","compare_url":"https://api.github.com/repos/DanielEFrampton/csv_example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/DanielEFrampton/csv_example/merges","archive_url":"https://api.github.com/repos/DanielEFrampton/csv_example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/DanielEFrampton/csv_example/downloads","issues_url":"https://api.github.com/repos/DanielEFrampton/csv_example/issues{/number}","pulls_url":"https://api.github.com/repos/DanielEFrampton/csv_example/pulls{/number}","milestones_url":"https://api.github.com/repos/DanielEFrampton/csv_example/milestones{/number}","notifications_url":"https://api.github.com/repos/DanielEFrampton/csv_example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/DanielEFrampton/csv_example/labels{/name}","releases_url":"https://api.github.com/repos/DanielEFrampton/csv_example/releases{/id}","deployments_url":"https://api.github.com/repos/DanielEFrampton/csv_example/deployments","created_at":"2019-10-18T15:15:23Z","updated_at":"2019-10-18T16:23:37Z","pushed_at":"2019-10-18T16:23:39Z","git_url":"git://github.com/DanielEFrampton/csv_example.git","ssh_url":"git@github.com:DanielEFrampton/csv_example.git","clone_url":"https://github.com/DanielEFrampton/csv_example.git","svn_url":"https://github.com/DanielEFrampton/csv_example","homepage":"","size":5,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":213755619,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM3NTU2MTk=","name":"ruby-battleship","full_name":"KevinKra/ruby-battleship","private":false,"owner":{"login":"KevinKra","id":43081008,"node_id":"MDQ6VXNlcjQzMDgxMDA4","avatar_url":"https://avatars1.githubusercontent.com/u/43081008?v=4","gravatar_id":"","url":"https://api.github.com/users/KevinKra","html_url":"https://github.com/KevinKra","followers_url":"https://api.github.com/users/KevinKra/followers","following_url":"https://api.github.co[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1581122318'
      Etag:
      - W/"dd910d52b774af829c63[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1581122318'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 07 Feb 2020 23:53:58 GMT
recorded_with: VCR 5.1.0
