<h2>New Tutorial</h2>
<%= render partial: 'new_tutorial', locals: {
                                      path: new_admin_tutorial_path,
                                      method: :post,
                                      button_text: 'Create new tutorial'
                                    } %>
